.header{
    display: flex;
    justify-content: space-between;
   
}

.img-logo{
    width: 100px;
}

.list{
    
}

.list-page{
    display: flex;
    list-style: none;
    padding: 0;
    gap: 10px;
    font-size: 20px;
}

.res-cart-logo{

    width: 200px;
    height: 200px;
    margin: 25px;
}

.res-Container{
    display: flex;
    flex-wrap: wrap;
    margin: 13px;
}

.res-cart-logo{
    cursor: pointer;
}