.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
   
}


/* .header{
    max-width: 1200px;
    min-width: 1200px;
    position: relative;
    margin: 0 auto;
    height: 80px;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-between;
} */

.img-logo{
    width: 100px;
}


.list-page{
    display: flex;
    list-style: none;
    padding: 15;
    gap: 15px;
    font-size: 20px;
}

.res-cart-logo{

    width: 200px;
    height: 200px;
    margin: 25px;
}

.res-Container{
    display: flex;
    flex-wrap: wrap;
    margin: 13px;
}

.res-cart-logo{
    cursor: pointer;
}

.filter-btn{
    margin: 20px;
}

.butt {
    background-color: #007bff; /* Blue color */
    color: white;
    padding: 9px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: -8px;
}

.ser-div{
    display: flex;
}

.input-s-btn {
    width: 200px; /* Adjust width */
    height: 40px; /* Adjust height */
    font-size: 18px; /* Make text bigger */
    padding: 0px;
  }


.input-btn{
    width: 150px;
    height: 40px;
    font-size: 18px;
    padding: 0px;
}
